@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Overpass';
}

#root {
    height: 100%;
}

.thermometer {
    height: 100%;
}