@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lexend Exa';
}

#root {
    height: 100%;
}

.thermometer {
    height: 100%;
}